* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: ubuntu;
    src: url(src/Ubuntu-Regular.ttf);
}

body {
    background-color: #202124;
    font-family: ubuntu;
}


hr {
    margin: 0 auto;
    border-color: #808080;
    height: 1px;
}

i.fa {
    color: #BB86FC;
}

.container {
    width: 98%;
    padding: 1%;
}

.left-side {
    background-color: #303134;
    display: inline-block;
    width: 25%;
    margin: 0.5%;
    vertical-align: top;
    border-radius: 3px;
}

#profile-box {
    position: relative;
}

#profile-image {
    width: 100%;
    border-radius: 3px 3px 0 0;
}

#profile-name {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 96%;
    position: absolute;
    bottom: 3px;
    color: white;
    padding: 2%;
    font-size: 18px;
}

#description-box {
    padding: 15px;
}

#description-box ul {
    list-style: none;
}

#description-box ul li {
    margin-bottom: 15px;
}

#description-box ul li:nth-child(3) {
    word-wrap: break-word;
}

#description-box ul li i.fa {
    font-size: 18px;
}

#description-box ul li span {
    color: white;
    font-size: 16px;
    margin-left: 10px;
}

a {
    text-decoration: none;
}

.aside-items {
    padding: 15px;
    color: white;
    margin: 5px 0 20px 0px;
}

.item-title {
    margin-left: 5px;
}

.skills-item {
    margin-top: 20px;
}

.progress-box {
    width: 100%;
    background-color: #eee;
    text-align: center;
    border-radius: 15px;
    margin-top: 10px;
}

.progress-bar {
    background-color: #BB86FC;
    border-radius: 15px;
    padding: 2px;
    width: 100%;
}

.pb100 {
    width: 100%;
}

.pb80 {
    width: 80%;
}

.pb70 {
    width: 70%;
}

.pb60 {
    width: 60%;
}

.pb30 {
    width: 30%;
}

.label {
    background-color: #BB86FC;
    border-radius: 5px;
    padding: 3px 5px;
}

.right-side {
    display: inline-block;
    width: 72%;
    margin: 0.5%;
    vertical-align: top;
}


.right-side section {
    background-color: #303134;
    margin-bottom: 2%;
    border-radius: 3px;
    padding: 30px;
}

.head-title {
    font-size: 28px;
    color: white;
}

.right-side-item h3,
.right-side-item h4 {
    margin: 17.2px 0;
    color: white;
}

.right-side-item p {
    margin: 15px 0 40px 0;
    color: white;
}

footer {
    background-color: #BB86FC;
    width: 100%;
    height: 20px;
    text-align: center;
    padding: 20px 0px;
    color: white;
}

@media only screen and (max-width:768px) {
    .left-side {
        display: block;
        width: 99%;
    }

    .right-side {
        display: block;
        width: 99%;
    }
}